NiceViewService/src/java/NiceViewWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="NiceViewWSDL" targetNamespace="http://niceview.ws"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://niceview.ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="urn://fastmoney.imm.dtu.dk" xmlns:ns1="urn://types.fastmoney.imm.dtu.dk" xmlns:ns2="urn:ws.imm.dtu:whitepages">
    <types>
        <xsd:schema targetNamespace="http://niceview.ws" xmlns:tns="http://niceview.ws">
            <xsd:complexType name="hotelType">
                <xsd:sequence>
                    <xsd:element name="hotelName" type="xsd:string"></xsd:element>
                    <xsd:element name="hotelAddress" type="tns:addressType"></xsd:element>
                    <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
                    <xsd:element name="hotelStayPrice" type="xsd:double"></xsd:element>
                    <xsd:element name="ifCreditCardRequired" type="xsd:boolean"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="addressType">
                <xsd:sequence>
                    <xsd:element name="street" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="hotelListType">
                <xsd:sequence>
                    <xsd:element name="hotel" type="tns:hotelType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                    <xsd:element name="hotelReservationServiceName" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="chargeCreditCard">
                <xsd:sequence>
                    <xsd:element name="group" type="xsd:int"></xsd:element>
                    <xsd:element name="creditCardInfo" type="tns:creditCardInfoType"></xsd:element>
                    <xsd:element name="amount" type="xsd:int"></xsd:element>
                    <xsd:element name="account" type="tns:accountType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="creditCardInfoType">
                <xsd:sequence>
                    <xsd:element name="expirationDate" type="tns:expirationDateType"></xsd:element>
                    <xsd:element name="name" type="xsd:string"></xsd:element>
                    <xsd:element name="number" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="expirationDateType">
                <xsd:sequence>
                    <xsd:element name="month" type="xsd:int"></xsd:element>
                    <xsd:element name="year" type="xsd:int"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="accountType">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"></xsd:element>
                    <xsd:element name="number" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="CreditCardFaultType">
                <xsd:sequence>
                    <xsd:element name="message" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="validateCreditCard">
                <xsd:sequence>
                    <xsd:element name="group" type="xsd:int"></xsd:element>
                    <xsd:element name="creditCardInfo" type="tns:creditCardInfoType"></xsd:element>
                    <xsd:element name="amount" type="xsd:int"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="validateCreditCardResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:boolean"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="chargeCreditCardResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:boolean"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="refundCreditCard">
                <xsd:sequence>
                    <xsd:element name="group" type="xsd:int"></xsd:element>
                    <xsd:element name="creditCardInfo" type="tns:creditCardInfoType"></xsd:element>
                    <xsd:element name="amount" type="xsd:int"></xsd:element>
                    <xsd:element name="account" type="tns:accountType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="refundCreditCardResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:boolean"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="getHotelsRequest">
        <part name="city" type="xsd:string"/>
        <part name="departureDate" type="xsd:date"/>
        <part name="arrivalDate" type="xsd:date"/>
    </message>
    <message name="getHotelsResponse">
        <part name="hotels" type="tns:hotelListType"/>
    </message>
    <portType name="NiceViewWSDLPortType">
        <operation name="getHotels">
            <input name="input1" message="tns:getHotelsRequest"/>
            <output name="output1" message="tns:getHotelsResponse"/>
        </operation>
    </portType>
    <binding name="NiceViewWSDLBinding" type="tns:NiceViewWSDLPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="NiceViewWSDLOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://niceview.ws"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://niceview.ws"/>
            </output>
        </operation>
    </binding>
    <service name="NiceViewWSDLService">
        <port name="NiceViewWSDLPort" binding="tns:NiceViewWSDLBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/NiceViewWSDLService/NiceViewWSDLPort"/>
        </port>
    </service>
</definitions>




