NiceViewService/src/java/whitePagesWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="whitePagesWSDL" targetNamespace="urn:ws.imm.dtu:whitepages"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:ws.imm.dtu:whitepages" xmlns:ns="urn:ws.imm.dtu:whitepages" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:ws.imm.dtu:whitepages"
            xmlns:tns="urn:ws.imm.dtu:whitepages"
            elementFormDefault="qualified">

            <xsd:element name="wpfault" type="tns:faultType" />

            <xsd:complexType name="personType">
                <xsd:sequence>
                    <xsd:element name="address" type="tns:addressType" />
                </xsd:sequence>

                <xsd:attribute name="firstName" type="xsd:string" />
                <xsd:attribute name="lastName" type="xsd:string" />
                <xsd:attribute name="phone" type="xsd:string" />

            </xsd:complexType>

            <xsd:complexType name="addressType">
                <xsd:sequence>
                    <xsd:element name="streetName" type="xsd:string" />
                    <xsd:element name="postCode" type="xsd:string" />
                    <xsd:element name="cityName" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="faultType">
                <xsd:sequence>
                    <xsd:element name="errorMessage" type="xsd:string"/>
                    <xsd:element name="person" type="tns:personType"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </types>
    <message name="addPersonRequest">
        <part name="person" type="tns:personType"/>
    </message>
    <message name="addPersonResponse">
        <part name="status" type="xsd:string"/>
    </message>
    <message name="addPersonFault">
        <part name="fault" element="tns:wpfault"/>
    </message>
    <portType name="whitePagesWSDLPortType">
        <operation name="addPerson">
            <input name="input1" message="tns:addPersonRequest"/>
            <output name="output1" message="tns:addPersonResponse"/>
            <fault name="fault1" message="tns:addPersonFault"/>
        </operation>
    </portType>
    <binding name="whitePagesWSDLPortTypeBinding" type="tns:whitePagesWSDLPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="addPerson">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="urn:ws.imm.dtu:whitepages"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="urn:ws.imm.dtu:whitepages"/>
            </output>
            <fault name="fault1">
                <soap:fault use="literal" name="fault1" />
            </fault>
        </operation>
    </binding>
    <service name="whitePagesWSDLService">
        <port name="whitePagesWSDLPortTypeBindingPort" binding="tns:whitePagesWSDLPortTypeBinding">
            <soap:address location="http://localhost:8070/whitePagesWSDLService/whitePagesWSDLPortTypeBindingPort"/>
        </port>
    </service>
</definitions>
