TravelGoodApp/src/jbiServiceUnits/TravelGoodBPEL/localhost_8080/NiceViewService/NiceViewWSDLService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://niceview.ws" xmlns:ns1="urn://types.fastmoney.imm.dtu.dk" xmlns:ns0="http://types.niceview.ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="NiceViewWSDL" targetNamespace="http://niceview.ws">
    <types>
        <xsd:schema targetNamespace="http://niceview.ws">
            <xsd:import namespace="http://types.niceview.ws" schemaLocation="http://localhost:8080/NiceViewService/NiceViewWSDLService?xsd=1"></xsd:import>
            <xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1"></xsd:import>
        </xsd:schema>
    </types>
    <message name="getHotelsRequest">
        <part name="city" type="xsd:string"></part>
        <part name="departureDate" type="xsd:date"></part>
        <part name="arrivalDate" type="xsd:date"></part>
    </message>
    <message name="getHotelsResponse">
        <part name="hotels" type="ns0:hotelListType"></part>
    </message>
    <message name="bookHotelRequest">
        <part name="bookingNumber" type="xsd:string"></part>
        <part name="creditCardInfo" type="ns1:creditCardInfoType"></part>
    </message>
    <message name="bookHotelResponse">
        <part name="booked" type="xsd:boolean"></part>
    </message>
    <message name="bookHotelFault">
        <part name="fault1" element="ns0:BookHotelFault"></part>
    </message>
    <message name="bookHotelCreditCardFault">
        <part name="fault2" element="ns1:CreditCardFault"></part>
    </message>
    <portType name="NiceViewWSDLPortType">
        <operation name="getHotels">
            <input name="getHotelsInput" message="tns:getHotelsRequest"></input>
            <output name="getHotelsOutput" message="tns:getHotelsResponse"></output>
        </operation>
        <operation name="bookHotel">
            <input name="bookHotelInput" message="tns:bookHotelRequest"></input>
            <output name="bookHotelOutput" message="tns:bookHotelResponse"></output>
            <fault name="bookHotelFault" message="tns:bookHotelFault"></fault>
            <fault name="creditCardFault" message="tns:bookHotelCreditCardFault"></fault>
        </operation>
    </portType>
    <binding name="NiceViewWSDLBinding" type="tns:NiceViewWSDLPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
        <operation name="getHotels">
            <soap:operation></soap:operation>
            <input name="getHotelsInput">
                <soap:body use="literal"></soap:body>
            </input>
            <output name="getHotelsOutput">
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="bookHotel">
            <soap:operation></soap:operation>
            <input name="bookHotelInput">
                <soap:body use="literal"></soap:body>
            </input>
            <output name="bookHotelOutput">
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="bookHotelFault">
                <soap:fault name="bookHotelFault" use="literal"></soap:fault>
            </fault>
            <fault name="creditCardFault">
                <soap:fault name="creditCardFault" use="literal"></soap:fault>
            </fault>
        </operation>
    </binding>
    <service name="NiceViewWSDLService">
        <port name="NiceViewWSDLPort" binding="tns:NiceViewWSDLBinding">
            <soap:address location="http://localhost:8080/NiceViewService/NiceViewWSDLService"></soap:address>
        </port>
    </service>
</definitions>