TravelGoodBPEL/src/localhost_8080/LameDuckService/LameDuckWSDLService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/LameDuckService/LameDuckWSDL" xmlns:ns="urn://types.fastmoney.imm.dtu.dk" xmlns:ns1="http://types.lameduck.ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="LameDuckWSDL" targetNamespace="http://j2ee.netbeans.org/wsdl/LameDuckService/LameDuckWSDL">
    <types>
        <xsd:schema xmlns:tns="http://j2ee.netbeans.org/wsdl/LameDuckService/LameDuckWSDL" targetNamespace="http://j2ee.netbeans.org/wsdl/LameDuckService/LameDuckWSDL">
            <xsd:import namespace="http://types.lameduck.ws" schemaLocation="http://localhost:8080/LameDuckService/LameDuckWSDLService?xsd=1"></xsd:import>
            <!-- Here is the import that is making a Broken Reference : <xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1"/>-->
            <xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1"></xsd:import>
        </xsd:schema>
    </types>
    <message name="getFlightsRequest">
        <part name="input" type="ns1:requestGetFlightType"></part>
    </message>
    <message name="getFlightsResponse">
        <part name="output" type="ns1:flightInformationListType"></part>
    </message>
    <message name="cancelFlightRequest">
        <part name="part1" type="ns1:requestCancelFlightType"></part>
    </message>
    <message name="bookFlightRequest">
        <part name="part1" type="ns1:requestBookFlightType"></part>
    </message>
    <message name="bookFlightResponse">
        <part name="part1" type="xsd:boolean"></part>
    </message>
    <portType name="LameDuckWSDLPortType">
        <operation name="getFlights">
            <input name="input1" message="tns:getFlightsRequest"></input>
            <output name="output1" message="tns:getFlightsResponse"></output>
        </operation>
        <operation name="cancelFlight">
            <input name="input3" message="tns:cancelFlightRequest"></input>
        </operation>
        <operation name="bookFlights">
            <input name="input2" message="tns:bookFlightRequest"></input>
            <output name="output2" message="tns:bookFlightResponse"></output>
        </operation>
    </portType>
    <binding name="LameDuckWSDLPortTypeBinding" type="tns:LameDuckWSDLPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
        <operation name="getFlights">
            <soap:operation></soap:operation>
            <input name="input1">
                <soap:body use="literal"></soap:body>
            </input>
            <output name="output1">
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="cancelFlight">
            <soap:operation></soap:operation>
            <input name="input3">
                <soap:body use="literal"></soap:body>
            </input>
        </operation>
        <operation name="bookFlights">
            <soap:operation></soap:operation>
            <input name="input2">
                <soap:body use="literal"></soap:body>
            </input>
            <output name="output2">
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
    </binding>
    <service name="LameDuckWSDLService">
        <port name="LameDuckWSDLPortTypeBindingPort" binding="tns:LameDuckWSDLPortTypeBinding">
            <soap:address location="http://localhost:8080/LameDuckService/LameDuckWSDLService"></soap:address>
        </port>
    </service>
</definitions>