NiceViewService/src/conf/xml-resources/web-services/NiceViewWebServiceFromWSDL/wsdl/NiceViewWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="NiceViewWSDL" targetNamespace="http://niceview.ws"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://niceview.ws" xmlns:ns1="urn://types.fastmoney.imm.dtu.dk" xmlns:ns0="http://types.niceview.ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://niceview.ws">
            <xsd:import namespace="http://types.niceview.ws" schemaLocation="types/NiceViewXSD.xsd"/>
            <xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="getHotelsRequest">
        <part name="city" type="xsd:string"/>
        <part name="departureDate" type="xsd:date"/>
        <part name="arrivalDate" type="xsd:date"/>
    </message>
    <message name="getHotelsResponse">
        <part name="hotels" type="ns0:hotelListType"/>
    </message>
    <message name="bookHotelRequest">
        <part name="bookingNumber" type="xsd:string"/>
        <part name="creditCardInfo" type="ns1:creditCardInfoType"/>
    </message>
    <message name="bookHotelResponse">
        <part name="booked" type="xsd:boolean"/>
    </message>
    <message name="bookHotelFault">
        <part name="fault1" element="ns0:BookHotelFault"/>
    </message>
    <message name="bookHotelCreditCardFault">
        <part name="fault2" element="ns1:CreditCardFault"/>
    </message>
    <message name="cancelHotelRequest">
        <part name="bookingNumber" type="xsd:string"/>
    </message>
    <message name="cancelHotelResponse">
        <part name="ifCanceled" type="xsd:boolean"/>
    </message>
    <message name="cancelHotelFault">
        <part name="CHfault" element="ns0:CancelHotelFault"/>
    </message>
    <portType name="NiceViewWSDLPortType">
        <operation name="getHotels">
            <input name="getHotelsInput" message="tns:getHotelsRequest"/>
            <output name="getHotelsOutput" message="tns:getHotelsResponse"/>
        </operation>
        <operation name="bookHotel">
            <input name="bookHotelInput" message="tns:bookHotelRequest"/>
            <output name="bookHotelOutput" message="tns:bookHotelResponse"/>
            <fault name="bookHotelFault" message="tns:bookHotelFault"/>
            <fault name="creditCardFault" message="tns:bookHotelCreditCardFault"/>
        </operation>
        <operation name="cancelHotel">
            <input name="cancelHotelInput" message="tns:cancelHotelRequest"/>
            <output name="cancelHotelOutput" message="tns:cancelHotelResponse"/>
            <fault name="cancelHotelFault" message="tns:cancelHotelFault"/>
        </operation>
    </portType>
    <binding name="NiceViewWSDLPortTypeBinding" type="tns:NiceViewWSDLPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getHotels">
            <soap:operation/>
            <input name="getHotelsInput">
                <soap:body use="literal"/>
            </input>
            <output name="getHotelsOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookHotel">
            <soap:operation/>
            <input name="bookHotelInput">
                <soap:body use="literal"/>
            </input>
            <output name="bookHotelOutput">
                <soap:body use="literal"/>
            </output>
            <fault name="bookHotelFault">
                <soap:fault name="bookHotelFault" use="literal"/>
            </fault>
            <fault name="creditCardFault">
                <soap:fault name="creditCardFault" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelHotel">
            <soap:operation/>
            <input name="cancelHotelInput">
                <soap:body use="literal"/>
            </input>
            <output name="cancelHotelOutput">
                <soap:body use="literal"/>
            </output>
            <fault name="cancelHotelFault">
                <soap:fault name="cancelHotelFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="NiceViewWSDLService">
        <port name="NiceViewWSDLPort" binding="tns:NiceViewWSDLPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
</definitions>
